include README.md
recursive-include octoprint_Volterra400Dual2022TouchUI/templates *
recursive-include octoprint_Volterra400Dual2022TouchUI/config *
include versioneer.py
include octoprint_Volterra400Dual2022TouchUI/_version.py