include README.md
recursive-include octoprint_Volterra400DualTouchUI/templates *
recursive-include octoprint_Volterra400DualTouchUI/config *
recursive-include octoprint_Volterra400DualTouchUI/gcode *
include versioneer.py
include octoprint_Volterra400DualTouchUI/_version.py
